%section#category-box
  -# General and emergency headers and links that are displayed on the homepage
  - cache ['general-links', Digest::MD5.hexdigest(general_links.to_s)] do
    %section#general-services
      %ul
        - general_links.try(:each) do |general_header_and_links|
          = display_homepage_links(general_header_and_links)
  - cache ['emergency-links', Digest::MD5.hexdigest(emergency_links.to_s)] do
    %section#emergency-services
      %ul
        - emergency_links.try(:each) do |emergency_header_and_links|
          = display_homepage_links(emergency_header_and_links)
